
body
{
	line-height:1.2;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
	background-image:url("images/gradient.png");
	background-repeat:repeat-x;
	background-color: #D2D1D1;
	position: relative; left: 0; top: 0; z-index: 0;
}

table
{
    border: 0px;
    border-collapse: collapse;
}
td, th
{
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

img
{
    border: 0px;
}

.top_menu_up
{
	width: 723px;
	height: 203px;
}

div.page
{
    position: relative;
    width: 735px;
    min-height: 650px;
    text-align: left;

    font:; font-family: 'superstarregular', Arial, sans-serif; font-size: large; font-weight: bold; }

}

td.banner
{
	background-image: none;
    vertical-align: top;
    padding-top: 175px;
    margin: 0px;
}
th
{
	height:0px;
}


table.banner
{
	margin-top: 34px;
	background-image: url('images/profile.png');
	background-repeat: no-repeat;
	display: block;
	border: 0px none black;
	width: 731px;
	height: 211px;
}


div.description_panel
{
    float: left;
    margin-top: 12px;
	width: 522px;
}

div.description_body
{
	background: url('images/desc_middle.png');
	background-repeat: repeat-y;
	width: 522px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

div.description_bottom
{
	background: url('images/desc_bottom.png');
	background-repeat:no-repeat;
	width: 522px;
	height:21px;
	float: left;
}

a.top_menu_item, a.top_menu_item_on
{
    margin-left: 12px;
    margin-right: 16px;
    max-height: 30px;
    white-space: nowrap;
    color: #C9C9C9;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font:; font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: bold; }

a.top_menu_item_on
{
	background-color: #325376;
    font:; font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: bold; }
}

a:link.top_menu_item {color:#d7d7d7;text-decoration:none;}    /* unvisited link */
a:visited.top_menu_item {color:#d7d7d7;text-decoration:none;} /* visited link */
a:hover.top_menu_item {color:#FFFFFF;text-decoration:none;}   /* mouse over link */
a:active.top_menu_item {color:#FFFFFF;text-decoration:none;}  /* selected link */


a:link.top_menu_item_on {color:#d7d7d7;text-decoration:none;}    /* unvisited link */
a:visited.top_menu_item_on {color:#d7d7d7;text-decoration:none;} /* visited link */
a:hover.top_menu_item_on {color:#FFFFFF;text-decoration:none;}   /* mouse over link */
a:active.top_menu_item_on {color:#FFFFFF;text-decoration:none;}  /* selected link */


div.left_menu_panel
{
    float: left;
    margin-top: 15px;
    padding-left: 6px;

    background: url(images/panel2.png) no-repeat;
	width: 204px;
	height: 417px;
}

div.left_menu_top
{
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    min-height: 18px;
    max-height: 18px;
    margin-left: 12px;
    margin-right: 16px;
    display: block;
    white-space: nowrap;
    color: #FFFFFF;
    text-decoration: none;
    font:; font-family: arial, Helvetica, sans-serif; font-size: large;
}


a.menu_item, a.menu_item_on
{
    margin-left: 12px;
    margin-right: 16px;
    display: block;
    padding-bottom: 5px;
    max-height: 30px;
    white-space: nowrap;
    color: #C9C9C9;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 5px;
    font:; font-family: Verdana; font-size: medium;

}

a:link.menu_item {color:#d7d7d7;text-decoration:none;}    /* unvisited link */
a:visited.menu_item {color:#d7d7d7;text-decoration:none;} /* visited link */
a:hover.menu_item {color:#FFFFFF;text-decoration:none;}   /* mouse over link */
a:active.menu_item {color:#FFFFFF;text-decoration:none;}  /* selected link */


a.menu_item_on
{
	background-color: #284265;
}


div.content, home_content
{
	width: 204;
    display: block;
    padding-bottom: 5px;
    max-height: 30px;
    text-decoration: none;
    margin-left: 250px;
    padding-top: 15px;
    color: #000000;
    font:; font-family: arial, Helvetica, sans-serif; font-size: small;
 }

 div.home_content
 {
	padding-top: 10px;
    margin-left: 10px;
	width: 723px;
 }
 div.video_left_align
 {
 	display: block;
 	padding-left: 200px;
 }
 div.home_logo
 {
	padding-top: 20px;
	padding-left: 200px;
   	width: 723px;
 }


table.navigation
{
	border: 0px none black;
	width: 600;
	height: 30;
}
.navigation td
{
	background-image: url(images/button.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 120px;
	height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
    vertical-align:middle;
	padding-top: 0px;
}

 div.content_column
 {
   	width: 100px;
 }

a.button_link
{
    color: #C9C9C9;
    text-decoration: none;
    font:; font-family: Verdana; font-size:small;
}
a:link.button_link {color:#d7d7d7;text-decoration:none;}    /* unvisited link */
a:visited.button_link {color:#d7d7d7;text-decoration:none;} /* visited link */
a:hover.button_link {color:#FFFFFF;text-decoration:none;}   /* mouse over link */
a:active.button_link {color:#FFFFFF;text-decoration:none;}  /* selected link */

ul
{
	list-style-type:square;
}

table.tech_video
{
	border: 0px none black;
}

.tech_video td
{
    padding-right: 50px;
}

table.games
{
	display: block;
	border: 0px none black;
}
.games td
{
	padding-left:20px;
	width: 400px;
    color: #000000;
    font:; font-family: arial, Helvetica, sans-serif; font-size: small;
}

table.home_banners
{
	display: block;
	border: 0px none black;
}
.home_banners td
{
	padding-left:5px;

    color: #000000;
    font:; font-family: arial, Helvetica, sans-serif; font-size: small;

}


table.links
{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
}

.links td
{
	padding-left:50px;
}



@font-face {
    font-family: 'superstarregular';
    src: url('css/fonts/game_font-webfont.woff2') format('woff2'),
         url('css/fonts/game_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
