<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Glow: Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="glow.css?v=<?php echo filectime('glow.css');?>" />
    <style type="text/css">        .style1
        {
            text-align: center;
        }
        .style2
        {
            text-align: justify;
        }
    </style>
    <meta name="description" content="Glow - software engine for creating 3D games. Cross-platform, highly optimized tool which available now on PC, Android and iPhone version to come.">
    <meta name="keywords" content="3d games, multi platform, havok physics, game development, tool, development tool, rendering, recast navigation, dynamic navigation meshes, game development tool, how to make games, glow3d, game design">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10004743-5']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>
<body>
    <center>
        <div class="page">
            <table class="banner">
                <tbody>

                </tbody>
            </table>
            <div>
                <div style="background: url(images/index_top.png); width: 735px; height: 20px; float: left;">
                </div>
                <div style="background: url(images/index_middle.png); width: 735px;">
                    <div align="left"
                        style="width: 670px; padding-left: 50px; padding-right: 40px;">
                        <h3 class="style1"> Iron Cube: Battlegrounds, tank battles in a completely destructible world!</h3>
                        <br />
                        <div style="background: url(images/ironcube.png); width: 512px; height: 512px;margin:0 auto;"></div>
                        <div class="style2" style="padding-right: 40px">
                        <br />
                        <h3 class="style1"> The app is available in Google Play Store.</h3> <br /><br /> <a class="twitter-follow-button" data-show-count="false"
  href="https://twitter.com/yak32">
Follow @yak32</a>

                        <br />
                        <br />


<a href='https://play.google.com/store/apps/details?id=com.yak32_games.iron_cube&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>

                        <br />
                        <br />
                        Gameplay video:
                        <br />
        <iframe width="600" height="337" src="https://www.youtube.com/embed/MByiEEO_NS0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
            <br />
                        </div>
                        <div align="left">
                            <a href="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-47-44.png"
                                target="_blank">
                                <img alt="Screenshot_2013-10-23-16-47-44" src="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-47-44.png"
                                    width="298" /></a> <a href="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-47-35.png"
                                        target="_blank">
                                        <img alt="Screenshot_2013-10-23-16-47-35" src="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-47-35.png"
                                            width="298" /></a> <a href="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-47-26.png"
                                                target="_blank">
                                                <img alt="Screenshot_2013-10-23-16-47-26" src="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-47-26.png"
                                                    width="298" /></a> <a href="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-49-41.png"
                                                        target="_blank">
                                                        <img alt="Screenshot_2013-10-23-16-49-41" src="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-49-41.png"
                                                            width="298" height="168" /></a> <a href="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-50-08.png"
                                                                target="_blank">
                                                                <img alt="Screenshot_2013-10-23-16-50-08" src="http://media.moddb.com/images/articles/1/142/141237/auto/Screenshot_2013-10-23-16-50-08.png"
                                                                    width="600" /></a></div>
                        <br />
                        <table class="links">
                            <tr>
                                <td class="links">
<a class="twitter-follow-button" data-show-count="false" data-size="large"
  href="https://twitter.com/yak32">
Follow @yak32</a>
<script>    !function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="background: url(images/index_bottom.png); width: 735px; height: 22px;">
                </div>
            </div>
        </div>
        </div>
    </center>
</body>
</html>
